<section class="product__container">
    <div class="product-image__container">
        <img [src]="produto?.imagem" alt="">
    </div>
    <div class="product-description__container">
        <h2 class="product__name">{{ produto?.descricao }}</h2>
        <h3 class="product__price">{{ produto?.preco }}</h3>
        <p>Available</p>
        <label>Quantity
            <input type="number"[(ngModel)]="quantidade" min="1">
            units
        </label>
        <p class="product__avaiability">{{ produto?.quantidadeEstoque }} available</p>
        <button>Add to Car</button>
    </div>
</section>
